
code/.vs/q3spenhanced/v16/Browse.VC.db

code/.vs/q3spenhanced/v16/Browse.VC.opendb

code/.vs/q3spenhanced/v16/Solution.VC.db

code/.vs/q3spenhanced/v16/Solution.VC.db-shm

code/.vs/q3spenhanced/v16/Solution.VC.db-wal
